/* universal selector */
*{
    margin:0;
    padding: 0;
}
/* اختيار الخط */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
/* الجنرل المنت */

.clear{
    clear: both;
}
.family{
    font-family:'Varela Round', sans-serif;

}
.blackiconcolor{
color:#e74c3c;

}









/* home_page */
.home_page1{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,#444 0 10%,#e74c3c);
    background-size: cover;
    position:relative;
}





/* header */



header{
    position: fixed;
    width: 100%;
    z-index: 3;
    background: #270602;
    transition: background 0.5s;

}
header:hover{
    background: #000;
}


/* هذا الكونتينر عشان يكون في النص */
.continer{
    width: 80%;
    margin: auto;
}






/* تعديل صورة اللوجو */
header .logo img{
    height: 70px;
}


header .logo{

    width: 40%;
    float: left;
}
/* محرك البحث */
#search{
    position: absolute;
    top:20%;
    left:28%;
}




header .list{
    text-align: right;

    width: 60%;
    float: left;
}


/* تعديل القائمة الرئيسية */

header .list > li{

    display: inline-block;
}


header .list > li a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px;
}

header .list > li a:after{
    content: "";
    width: 0%;
    height: 3px;
    border-radius: 5px;
    display: block;
    background: #f05742;
    transition: width 1s;
}
header .list> li a:hover:after{
    width: 100%;
}

.list > li {
    position: relative;
}
/* تعديل قائمة الخيارات */
.list >li .dropdown{
    height: auto;
    width: auto;
    line-height: 50px;
    font-family: 'Varela Round' ;
    list-style: none;
    position: absolute;
    background: #000;
    display: none;
    top: 60px;
}
.option:focus .dropdown{
    display: block;

}




/* الجزء الثاني */
/* توسيط العناصر  */

.to_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 30px;
    color: white;
}


.register{
    background-image: url(../image/background1.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.prowsin{
    font-size: 2em;
    line-height: 50px;
    margin-bottom: 10px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Cairo';
}


.explin{

    font-family: 'Cairo';

}

/* زر التصفح */
.the_brows{
    text-decoration: none;
    color: black;
    padding: 14px 25px;
}

/* الازرار بصفة عامة */
.btn{
    width: 84px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    margin: 20px;
    transition: opacity 0.7s;
}

.btn:hover{
    opacity: 0.8;
}



.btn_regist {

    background: #f05742;
    color: white;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.7);
    
}





/* ----products----- */

.products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 130px;
    margin: auto;
    justify-content: center;
        
   width: 100%;
   height: 100%;
   gap: 10px;

}

.product {
    width: 220px;
    height:300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.product_img {
    width: 100%; /* تأكيد أن العنصر يأخذ عرض 100% من حاويته */
    height: 100%; /* ضع ارتفاعًا ثابتًا أو قيمة مناسبة */
    overflow: hidden; /* لضمان عدم تجاوز الصورة حدود الحاوية */
    border-radius: 10px;
}

.product_img img {
    width: 100%; /* تأكيد أن الصورة تأخذ عرض 100% من حاويتها */
    height: 100%; /* تأكيد أن الصورة تأخذ ارتفاع 100% من حاويتها */
    object-fit: cover; /* تأكيد تكبير أو تصغير الصورة بحيث تغطي العنصر بأكمله دون تشويه النسبة */
}


.product h2 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}

.product button {
    background-color: #f1c40f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.product button:hover {
    background-color: #e74c3c;
    color: white;
    transform: translate(0,10px);
}

header .list li .active{
    color: #f05742;
}

/* تعديل قائمة العرض  */



/* تحديد استجابة الوسائط */
@media (max-width:431px) {
    #search{
        position: absolute;
        top:20%;
        left:28%;
    }

    .continer{
        margin:0px;
        text-align: right;
    }
    .media_4{
        width: 100%;
    }
    header .logo img,.media_4 .logo img{
        height: 20px;
    }
    
    
    header .logo,.media_4 .logo{
    
        width: 5%;
        float: left;
    }
   


    header .list , .media_4 .list{
        text-align: right;
        margin-top: 15px;
        margin-left: 30px;
    
        width: 95%;
        float: left;
    }
    
header .list > li a,.media_4 .list > li a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px;
}



    .to_center {
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        line-height: 30px;
        color: white;
    }
    
    .prowsin {
        font-size: 1.5em;
        line-height: 43px;
        margin-bottom: 10px;
        font-family: 'Cairo';
    }
    .explin {
        font-family: 'Cairo';
        font-size: 12px;
        line-height: 2;
        margin-bottom: 7px;
    }
    .btn {
        font-size: 20px;
        width: 23vw;
        height: 5vh;
        border: 0px;
        border-radius: 4px;
        margin: 0px;
        transition: opacity 0.7s;
        margin: 30px 0px 0px 6px;
    }



    /* تعديل حجم المنتجات */
    .product {
        width: 87px;
        height: 120px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
} 
