/* universal selector */
*{
    margin:0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
/* اختيار الخط */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
/* الجنرل المنت */


:root{

    --systemColor:#e74c3c;
}
.clear{
    clear: both;
}
.family{
    font-family:'Varela Round', sans-serif;

}
.blackiconcolor{
color:#e74c3c;

}

body{
    font-family: 'Cairo';
    counter-reset: bellCounter;
}













/* header */


/* #270602 لون داكن */
header{
    position: fixed;
    width: 100%;
    z-index: 3;
    background: #ffffff;
    padding-top: 10px;
    border-bottom: 1px solid #000;

}



/* هذا الكونتينر عشان يكون في النص */
.continer{
    margin-top: 10px;
    width: 80%;
    margin: auto;
}






/* تعديل صورة اللوجو */
header .logo img{
    height: 70px;
}


header .logo{

    width: 40%;
    float: left;
}
/* محرك البحث */
#search{
    position: absolute;
    top:20%;
    left:28%;
    
}




header .list{
    text-align: right;

    width: 60%;
    float: left;
}


/* تعديل القائمة الرئيسية */

header .list > li{

    display: inline-block;
}


header .list > li a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px;
}

header .list > li a:after{
    content: "";
    width: 0%;
    margin-top: 5px;
    height: 3px;
    border-radius: 5px;
    display: block;
    background: #f05742;
    transition: width 1s;
}
header .list> li a:hover:after{
    width: 100%;
}

header .list>li >.active:after{
    width: 100%;
}

.list > li {
    position: relative;
}
/* تعديل قائمة الخيارات */
.list >li .dropdown{
    height: auto;
    width: 200px;
    text-align: left;
    line-height: 50px;
    font-family: 'Varela Round' ;
    list-style: none;
    position: absolute;
    background: #000;
    display: none;
    top: 60px;
    left: -80px;
}
.option:focus .dropdown{
    display: block;

}




/* الجزء الثاني */
/* توسيط العناصر  */

.to_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 30px;
    color: white;
}


.register{
    background-image: url(../image/background1.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.prowsin{
    font-size: 2em;
    line-height: 50px;
    margin-bottom: 10px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Cairo';
}


.explin{

    font-family: 'Cairo';

}

/* زر التصفح */
.the_brows{
    text-decoration: none;
    color: black;
    padding: 14px 25px;
}

/* الازرار بصفة عامة */
.btn{
    width: 340px;
    height: 200px;
    border: 0px;
    border-radius: 10px;
    margin: 20px;
    transition: opacity 0.7s;
}

.btn:hover{
    opacity: 0.8;
}



.btn_regist {

    background: #f05742;
    color: white;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.7);
    
}





/* ----products----- */
#products_sec{
    display: none;
}

.products {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    top: 130px;
    margin: auto;
    justify-content: flex-start;
    overflow: scroll;
        
   width: 100%;
   height: 100%;
   gap: 10px;

}

.product {
    min-width: 220px;
    min-height:420px;
    max-width: 220px;
    max-height: 420px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.product_img {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.product_img img {
    width: 100%; /* تأكيد أن الصورة تأخذ عرض 100% من حاويتها */
    height: 63%; /* تأكيد أن الصورة تأخذ ارتفاع 100% من حاويتها */
    object-fit: cover; /* تأكيد تكبير أو تصغير الصورة بحيث تغطي العنصر بأكمله دون تشويه النسبة */
}

.fa-star{
    color: #636363;
}
.rate_4{
    color:#f1c40f ;
}

.price{
    border-radius: 10px;
    margin: auto;
    
    font-size: 20px;

    
  
}

.prod{
    font-size:16px;
    font-family: 'Cairo';
}

.product h2 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}


.product button {
    background-color: var(--systemColor);
    color: white;
    border: none;
    padding: 10px 44px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.product button:hover {
    background-color: #a32f22b5;
    color: white;
    transform: translate(0,1px);
}

header .list li .fa-solid{
    color: #000;
}
header .list li .active{
    color: #f05742;
}

/* تعديل قائمة العرض  */



/* --المحلات-- */
.stores{
    position: relative;
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    top:130px;
    text-align: right;

}

.store{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: #24292f;
    border-bottom:1px solid #000;

}

/* ايقونة البحث */
.fa-bell{
    position: relative;
}
.fa-bell:after {
    position: absolute;
    content: counter(bellCounter);
    padding:5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    font-size: 10px;
    background: var(--systemColor);
    color: #ffffff;
    line-height: 10px;
    top: -20px;
}


#notefication{
    position: relative;
    display: none;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    top:130px;
    text-align: right;
    gap: 10px;
}
.add_note{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    
}
#cart_e
{  position: relative;
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    top: 130px;
    

}

#cart_e >.add_to {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    position: relative;
}

#cart_e >.add_to>.cancel_carting{
    height: 40px;
    width: 40px;
    background: #ff1919db;
    color: white;
    position: absolute;
    right: 84%;
    border-radius: 50%;
    border: 0px;

}






/* 
.add_to_cart
{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: center;
    border-bottom: 0.1px solid #000;
    

} */

.number_of_product
{    box-sizing: border-box;
    font-family: sans-serif;
    padding-left: 30px;
    width: 70px;
    height: 50px;
    align-self: center;
    font-size: 20px;
}

/* أضف استايل لأزرار العداد */
.counter-container {
    position: relative;
    display: flex;
    align-items: center;
}

#cart_e >#orderNow{
    display: block;
    font: 26px 'Cairo', sans-serif;
    color: white;
    background-color: var(--systemColor);
    height: 4rem;
    width: 16rem;
    position: fixed;
    left: 22%;
    bottom: 11%;
    border-radius: 40px;
    border: 0px;
}












/* تحديد استجابة الوسائط */
@media (max-width:431px) {
    

    #search{

        background-image: url(../image/pngegg.png);
        background-repeat: no-repeat;
        background-position-x:10px;
        padding: 10px;
        background-position-y: 5px;
        background-size: 20px;
        flex: 3;
        width:70%;
        border-radius: 30px;
        height: 34px;
        
    }
    #search:focus{
        background-image: none;
    }
    
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


    .continer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        margin-top: 6px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
    }
    .media_4{
        width: 100%;
    }
    header .logo img,.media_4 .logo img{
        height: 40px;
    }
    
    
    header .logo,.media_4 .logo{
    
        
        display: flex;
        width: 100%;
        height: 30px;
        position: relative;
    
    }
   


    header .list , .media_4 .list{
        display: flex;
        text-align: right;
        margin-top: 15px;
        margin-left: 30px;
        justify-content:space-between;
    
        width: 95%;
    
    }
    
header .list > li a,.media_4 .list > li a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px;
}



    .to_center {
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        line-height: 30px;
        color: white;
    }
    
    .prowsin {
        font-size: 1.5em;
        line-height: 43px;
        margin-bottom: 10px;
        font-family: 'Cairo';
    }
    .explin {
        font-family: 'Cairo';
        font-size: 12px;
        line-height: 2;
        margin-bottom: 7px;
    }
    

    .btn{
        width: 300px;
        height: 100px;
        border: 0px;
        border-radius: 10px;
        margin: 20px;
        transition: opacity 0.7s;
    }


    /* تعديل حجم المنتجات */
    .product {
        min-width: 120px;
        min-height: 213px;
        max-width: 120px;
        max-height: 213px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .prod{
        font-size: 9px;
    }
    .product button {
        height: 30px;
        width: 100%;
        background-color: var(--systemColor);
        color: white;
        border: none;
        padding: 0px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        transition-duration: 0.4s;
        border-radius: 0px;
        vertical-align: middle;
    }
} 

/* .counter-buttonP {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    margin: 0px;
    left: 75%;
}
.counter-button- {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333; 
    left: 20%;
    margin: 0px; 
} */

